.eom-skillgroup{

  width: 100%;
  horizontal-align: center;
  vertical-align: top;




  transform: scale3d(1.1, 1.1, 1);
  brightness: 10;

  transition-property: transform, blur, brightness;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
  .eom-skillgroup.eom-skillgroup-show{

   transform: scale3d(1, 1, 1);
   brightness: 1;
  }

  .eom-skillgroup .eom-skillgroup-data-bg{

   width: 100%;
   height: 100px;
   horizontal-align: center;
   vertical-align: center;

   wash-color: #4aa8ff;

   background-color: black;
   background-image: url( "file://{resources}/videos/linemap.webm");
   background-size: 60% auto;
   opacity-mask: url( "s2r://panorama/images/masks/fade-both-right-left2_png.vtex");
  }
   .eom-skillgroup .eom-skillgroup-data-bg .eom-win__main__line{
    height: 1.25px;
    width: 100%;
    background-color: white;
    z-index: 3;
   }


  .eom-skillgroup .eom-skillgroup-data{
   width: 1340px;
   horizontal-align: center;
   vertical-align: top;
  }
   .eom-skillgroup .eom-skillgroup-data .eom-skillgroup-data__container{
    height: 400px;
    width: 100%;
    horizontal-align: center;
    vertical-align: center;
   }
    .eom-skillgroup .eom-skillgroup-data .eom-skillgroup-data__container Image{
     img-shadow: 0px 0px 4px 2 black;
    }




 #id-eom-skillgroup-emblem{

   width: 400px;
   height: 400px;

   vertical-align:center;
   x:300px;
 }
  #id-eom-skillgroup-emblem Image{
   vertical-align: center;
   horizontal-align: center;
   img-shadow: 0px 0px 4px 2 black;
  }


 #jsRatingEmblem{

  width: 200px;
  height: 80px;

  vertical-align: center;
  x: 330px;
 }



 #id-eom-skillgroup-emblem--current{
  perspective: 200px;
  perspective-origin:  50% 0%;
  transform-origin: 50% 50%;

  width: 100%;
  height: 100%;
 }


  #id-eom-skillgroup-emblem--current #id-eom-skillgroup--current__pfx--below,#id-eom-skillgroup-emblem--current #id-eom-skillgroup--current__pfx--above{

   width: 100%;
   height: 100%;
   opacity: 1;
  }










  .uprank-anim #id-eom-skillgroup-emblem--current{
   animation-name: eom-remove-skillgroup-icon;
   animation-delay: .5s;
   animation-duration: 0.1s;
   animation-timing-function: ease-in;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
  }







 #id-eom-skillgroup-emblem--new{
  width: 100%;
  height: 100%;

  visibility: collapse;
 }
  .uprank-anim #id-eom-skillgroup-emblem--new{
   visibility: visible;
  }

  #id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__image{
   horizontal-align: center;
   vertical-align: center;

   opacity: 1;

   transform: scale3d(2,2,1);
   transform-origin: 50% 50%;

   perspective: 200px;
   perspective-origin:  50% 0%;

   transform: scale3d(1,1,1) rotateX(5deg) translateY(0px) translateZ(-5px);
  }
   .uprank-anim #id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__image{

    animation-name: anim-new-reveal-emblem;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
   }


  #id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__pfx--below{
   width: 100%;
   height: 100%;
   opacity: 0;
  }
   .uprank-anim #id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__pfx--below{
    animation-name: anim-new-reveal__pfx--below;
    animation-delay: .0s;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }



  #id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__pfx--above{
   width: 100%;
   height: 100%;
   opacity: 1;
   transform: scale3d(2,2,1);
   transform-origin: 50% 50%;

   perspective: 200px;
   perspective-origin:  50% 0%;
  }

   .uprank-anim #id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__pfx--above{
    transform: scale3d(1.01,1.01,1) rotateX(5deg) translateY(1px) translateZ(6px);

    animation-delay: .00s;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }




 .eom-skillgroup__label-container{
  vertical-align: center;
  horizontal-align:left;
  flow-children: down;

  x: 650px;
 }
  .eom-skillgroup__label-container .eom-skillgroup__info-label{
   vertical-align: center;
   text-align: center;
   brightness: 1.7;
   width: 500px;
   text-align: left;

   wash-color: #4aa8ff;
   color: white;

   font-size: 24px;
   letter-spacing: 4px;
   text-shadow: 0px 0px 8px #dddddda1;
  }
   #id-eom-skillgroup__new__label.eom-skillgroup__label-container .eom-skillgroup__info-label{
    visibility: collapse;
   }

   .eom-skillgroup__label-container .eom-skillgroup__info-label.small{
    brightness: 1;

    font-weight: medium;
    width: 300px;
    height: 16px;

    margin: 3px 0px;

    font-size: 14px;
    text-overflow: ellipsis;
   }

   .eom-skillgroup__label-container .eom-skillgroup__info-label.wincount{
    width: fit-children;
    max-width: 100px;
    height: 16px;

    wash-color: none;
    margin: 3px 0px;

    font-size: 14px;
    font-weight: medium;

    text-overflow: ellipsis;
   }




 @keyframes 'eom-remove-skillgroup-icon'{

  0%{

   brightness: 10;
   opacity: 1;
  }

  100%{

   brightness: 0;
   opacity: 0;
  }
 }


 @keyframes 'anim-new-reveal-emblem'{

  0%{

   brightness: 21;
   opacity-brush: gradient( linear, -20% 0%, -15% 0%, from( #ffffffff ), to( #ffffff00 ) );
  }
  5%{

   opacity-brush: gradient( linear, -20% 0%, -15% 0%, from( #ffffffff ), to( #ffffff00 ) );
  }
  50%{


   brightness: 10;
  }

  95%{

   brightness: 10;
  }

  100%{

   brightness: 1;
   opacity-brush: gradient( linear, 100% 0%, 110% 0%, from( #ffffffff ), to( #ffffff00 ) );
  }
 }

 @keyframes 'anim-new-reveal__pfx--below'{

  0%{

   opacity: 0;
   transform: scale3d(1, 1, 1);
  }
  50%{

   opacity: 0;
   transform: scale3d(1, 1, 1);
  }
  100%{

   opacity: 1;
   transform: scale3d(1, 1, 1);
  }
 }

 @keyframes 'anim-new-reveal__pfx--above'{

  0%{

   opacity: 1;
   transform: scale3d(2.5, 2.5, 4) rotateX(60deg) translateY(-50px);
  }

  80%{

   opacity: 1;

   transform: scale3d(1, 1, 1) rotateX(30deg) translateY(0px);
  }

  95%{


   opacity: 1;
   transform: scale3d(1.05, 1.05, 1.05) rotateX(0deg) translateY(0px);
  }

  100%{

   opacity: 1;
  }
 }




 .eom-skillgroup-icon{

  width: 215px;
  height: 215px;
  border-radius: 50%;
  border: 3px solid rgba(187, 199, 231, 0.05);
  horizontal-align: center;
  vertical-align: center;

  y:-20px;

  background-color: gradient(radial, 50% 50%, 0px 0px, 50% 50%, from( #00000000 ),color-stop( 0.6, #00000000), to( #000000DD ) );
 }

 .eom-skillgroup-icon-bg{

  wash-color: rgb(62, 148, 197);
  -s2-mix-blend-mode: screen;

  background-image: url( "file://{resources}/videos/acknowledge540p.webm");
  background-repeat: no-repeat;
  background-size: 350% 350%;
  background-position: 30% 35%;
 }



 .eom-skillgroup-new-label{

  horizontal-align: center;
  vertical-align: bottom;

  color: black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
  padding: 8px 16px;
  margin-bottom: 8px;

  background-color:blueColor;
  box-shadow: rgb(6, 102, 139) 0px 0px 8px 0px;

  y: -20px;
 }



 .eom-skillgroup-bg-anim{

  animation-name: eom-skillgroup-bg;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
 }

 @keyframes 'eom-skillgroup-bg'{

  0%{

   opacity: 0;
   brightness: 1;
  }

  50%{

   opacity: 0;
   brightness: 1;
  }

  90%{

   opacity: 1;
   brightness: 20;
  }

  100%{

   opacity: 1;
   brightness: 1;
  }
 }

 .eom-skillgroup__flare{

  width: 300px;
  height: 300px;

  horizontal-align: center;
  vertical-align: center;

  wash-color: rgb(238, 234, 196);
  opacity: 0;
 }


 .eom-skillgroup-new-anim,.eom-skillgroup__flare.appear{


  animation-name: eom-skillgroup-new;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
 }

 .eom-skillgroup__flare.appear{

  animation-duration: .75s;
 }


 @keyframes 'eom-skillgroup-new'{

  0%{

   transform:scale3d( 0, 0, 0 );
   opacity: 0;
  }

  50%{

   transform:scale3d( 0, 0, 0 );
   opacity: 0;
  }

  90%{

   transform:scale3d( 1.5, 1.5, 1.5 );
   opacity: 1;
  }

  100%{

   transform:scale3d( 0, 0, 0 );
   opacity: 0;
  }
 }

 .eom-skillgroup__image{

  width: 180px;

  vertical-align: center;
  horizontal-align: center;
 }

 .eom-skillgroup__model{

  width: 180px;
  height: 180px;

  vertical-align: center;
  horizontal-align: center;
  transform: scale3d(0, 0, 0);

  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
 }

 .eom-skillgroup__model-reveal{

  transform:scale3d(1, 1, 1);
 }

 .eom-skillgroup__particles{

  width: 256px;
  height: 256px;

  vertical-align: center;
  horizontal-align: center;
 }


 .eom-skillgroup__info{

  horizontal-align: center;
  vertical-align: center;
  width: 512px;
 }

 .eom-skillgroup__info.right{

  transform: translateX( 380px );
 }

 .eom-skillgroup__info.right .eom-skillgroup__info-label{

  text-align: left;
 }

 .eom-skillgroup__info.left{

  transform: translateX( -380px );
 }

 .eom-skillgroup__info.left .eom-skillgroup__info-label{

  text-align: right;
  horizontal-align: right;
 }













 .eom-skillgroup__trophy-icon{


  wash-color: rgb(200, 200, 200);

  text-shadow: 0px 0px 1px 1.0 rgba(122, 171, 180, 0.075);
 }

 .eom-skillgroup__info-label.small{

  font-size: 22px;
 }

 .eom-skillgroup__info-label-noglow{

  text-shadow: none;
  color: grey;
  font-weight: medium;
 }

 .hidden{

  visibility: collapse;
}