.rating-root{

  height: 24px;
  width: height-percentage(250%);
}

 .rating-effect{

  width: 100%;
  height: 100%;


  overflow: noclip;
  horizontal-align: center;
  vertical-align: center;
  -s2-mix-blend-mode: screen;
 }


 @define color-csrating-tier-0: #b0c3d9;
 @define color-csrating-tier-1: #8cc6ff;
 @define color-csrating-tier-2: #6a7dff;
 @define color-csrating-tier-3: #c166ff;
 @define color-csrating-tier-4: #f03cff;
 @define color-csrating-tier-5: #eb4b4b;
 @define color-csrating-tier-6: #ffd700;

 #jsPremierRating,#jsCompRating,#jsWingmanRating{


  visibility: collapse;
  opacity: 0;
 }

 .Premier #jsPremierRating,.Competitive #jsCompRating,.Wingman #jsWingmanRating{


  visibility: visible;
  opacity: 1;
 }

 .image-rating{
  width: 100%;
  height: 100%;
 }

 .premier-rating{
  width: 100%;
  height: 100%;
 }
  .premier-rating .rating__bg{
   width: 100%;
   height: 100%;
  }
   .tier-0 .premier-rating .rating__bg{wash-color: color-csrating-tier-0;}
   .tier-1 .premier-rating .rating__bg{wash-color: color-csrating-tier-1;}
   .tier-2 .premier-rating .rating__bg{wash-color: color-csrating-tier-2;}
   .tier-3 .premier-rating .rating__bg{wash-color: color-csrating-tier-3;}
   .tier-4 .premier-rating .rating__bg{wash-color: color-csrating-tier-4;}
   .tier-5 .premier-rating .rating__bg{wash-color: color-csrating-tier-5;}
   .tier-6 .premier-rating .rating__bg{wash-color: color-csrating-tier-6;}




  .premier-rating .rating__label-container{
   width: 100%;
   height: 100%;
   horizontal-align:right;
   vertical-align:top;
   flow-children:right;
  }
   .premier-rating .rating__label-container .rating__value{

    horizontal-align: center;
    text-overflow: shrink;

    vertical-align:bottom;
    width: 60px;

    margin-left: 16px;

    text-shadow: 1px 1px 1px 0 #000000;



    font-family: Stratum2 Black Italic;
    color: white;
   }
    .premier-rating .rating__label-container .rating__value .major{
     font-size: 18px;
     letter-spacing:0.1px;
    }

    .premier-rating .rating__label-container .rating__value .minor{
     font-size: 14px;
     letter-spacing:0.5px;
    }













  .player-card-skillgroup .rating-root,.teamintro-root .rating-root{

    height: 32px;
    width: height-percentage(250%);
  }



    .player-card-skillgroup .premier-rating .rating__label-container .rating__value,.teamintro-root .premier-rating .rating__label-container .rating__value{

     horizontal-align: center;
     text-overflow: shrink;
     text-align: right;
     vertical-align: center;
     width: 100px;
     margin-right: 12px;



     padding-top: 2px;
    }
     .player-card-skillgroup .premier-rating .rating__label-container .rating__value .major,.teamintro-root .premier-rating .rating__label-container .rating__value .major{
      font-size: 27px;
     }

     .player-card-skillgroup .premier-rating .rating__label-container .rating__value .minor,.teamintro-root .premier-rating .rating__label-container .rating__value .minor{
      font-size: 21px;
     }




  .player-card-skillgroup .image-rating,.teamintro-root .image-rating{
   img-shadow: 0px 0px 5px 3.0 #000000;
  }



   .tier-0 Label{wash-color: color-csrating-tier-0;}
   .tier-1 Label{wash-color: color-csrating-tier-1;}
   .tier-2 Label{wash-color: color-csrating-tier-2;}
   .tier-3 Label{wash-color: color-csrating-tier-3;}
   .tier-4 Label{wash-color: color-csrating-tier-4;}
   .tier-5 Label{wash-color: color-csrating-tier-5;}
   .tier-6 Label{wash-color: color-csrating-tier-6;}








    .eom-skillgroup .premier-rating .rating__label-container .rating__value{

     horizontal-align: center;
     text-overflow: shrink;
     text-align: right;
     vertical-align: bottom;
     width: 100px;
     margin-right: 10px;


     padding-top: 15%;
    }





   .eom-skillgroup .premier-rating .rating__label-container--eom{
    width: 160px;
    height: 80%;
    horizontal-align: right;
    vertical-align: top;
    flow-children: right;
   }


    .eom-skillgroup .premier-rating .rating__label-container--eom .digitpanel-container{
     height: 50px;
     transform: translateY(5px);

     horizontal-align: left;
     vertical-align:center;
    }


     .eom-skillgroup .premier-rating .rating__label-container--eom .digitpanel-container .digitpanel__digit{
      transition-property: transform;
      transition-duration: 10s;
      transition-timing-function: ease-in-out;

      width: 50px;
     }


      .eom-skillgroup .premier-rating .rating__label-container--eom .digitpanel-container .digitpanel__digit Label{
       font-family: Stratum2 Black Italic;
       width: 100%;

       font-weight: bold;
       color: white;
      }











 #jsPremierRatingMajor{
  height: 100%;
 }
  #jsPremierRatingMajor .digitpanel__digit{
   width: 32px;
   margin-right: -4px;
  }
   #jsPremierRatingMajor .digitpanel__digit Label{
    font-size: 60px;
   }



 #jsPremierRatingMinor{
  height: 80%;
  transform: translateY(5px);
 }
  #jsPremierRatingMinor .digitpanel__digit{
   width: 30px;
   margin-right: -6px;
  }
   #jsPremierRatingMinor .digitpanel__digit Label{
    font-size: 50px;
   }


  #jsPremierRatingMinor #DigitPanel-Digit-0{

   margin-right: -5px;
   margin-left: -5px;
}